.cover-photo{
    width: 70vw;
    aspect-ratio: 4/1.4;
    object-fit: cover;
    border-radius: 1rem;
}

.cover-profile-layout{
    padding: 1.5rem 1.5rem;
}

.cover-photo{
    position: relative;
}

.user-name{
    color: white;
font-weight: 600;
}

.userId-name{
    color: gray;
    padding-bottom: 0.5rem;
    font-weight: 500;
}
.counts-fr{
    color: black;
    font-weight: 500;
}

.friends-count{
    color: white;
    font-weight: 500;
}

.profession{
    color: white;
}

.profile-name-photo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    gap: 1rem;
    left: 2rem;
    bottom: 1rem;
}

.profile-photo{
    border-radius: 50%;
    width: calc(100vw/9);
    
}