.profile-layout {
  padding: 6rem 1rem;
  display: grid;
  grid-template-columns: 75vw auto;
}

.info-posts {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 30% auto;
  /* flex-flow: row wrap; */
  /* align-items: center; */
}



@media only screen and (max-width:1027px) {
  .my-profile-right-section{
  
    display: none;
  }
  .profile-layout {
    padding: 6rem 1rem;
    display: grid;
    grid-template-columns: auto;
}
.info-posts{
  display: flex;
  flex-flow: row wrap;
}
}