.profile-layout {
  padding: 6rem 1rem;
  display: grid;
  grid-template-columns: 75vw auto;
}

.info-posts {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 30% 70%;
}


.myprofile-rightsection{
}