.comment{
    padding-left: 4rem;
    font-weight: 500;
}

.comment-layout{
    display: flex;
    flex-flow: column wrap;
    padding: 0.3rem 1.5rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.profile-name{
    display: flex;
    align-items: center;
    gap: 1rem;
}