.headerLayout{

    background-color: #F9FBE7;
    padding : 1rem 0rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width:100vw;
    z-index: 3
}

.title-logo{
    text-align: center;
    cursor: pointer;
}

.headers-utils{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.search-palate{
    padding: 0.4rem 0.9rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;

}

.search-palate>input{
    border: none;
    outline: none;
}

.menu{
    display: none;
}

.hamburger-menu{
    display: none;
}



@media only screen and (max-width:575px) {
    .headers-utils{
        display: none;
    }
    
    .menu{
        line-height: 1rem;
        display: flex;
        gap: 1rem;
        
    }
    .hamburger-icons{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem;
    }

}